*{
    background: #B4B4B8;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo.alura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main { 
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;   
}

.text-area {
    border: none;
    color: #7F27FF;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #7F27FF; }
    .text-area:focus {
        outline: none;
    }

    .mensagem {
        background: #AC87C5;
        background-repeat: none;
        border: none;
        border-radius: 24px;
        color: #7F27FF;
        margin-left: 98px;
        margin-top: 20px;
        padding-left: 20px;
        position: fixed;
    }

    .mensagem {
    
        outline: none;

    }

    .botoes {
        display: flex;
        margin-top: 18px;
    }

    .btn-desencriptar {
        background: white;
        border: 1px solid #7F27FF;
        border-radius: 24px;
        color: #7F27FF;
        cursor: pointer;
        height: 67px;
        margin-left: 30px;
        width: 328px;
    }
    
    .btn-encriptar {
        background-color: #7F27FF;
        border: 1px solid #7F27FF;
        border-radius: 24px;
        color: white;
        cursor: pointer;
        height: 67px;
        width: 328px;
    }

    .btn-copiar {
        border: 1px solid #7F27FF;
        border-radius: 24px;
        color: #7F27FF;
        cursor: pointer;
        height: 67px;
        margin-left: 108px;
        margin-top: 402px;
        position: absolute;
        width: 336px;
    }

    .infornacao {
        color: #474F7A;
        font-size: 18px;
    }